
body{
    display: flex;
    flex-wrap: wrap;
}
body > section{
    width: 50%;
    height: 50vh;
}
.app1{
    border: 1px solid red;
}
.app2{
    border: 1px solid blue;
}

.app3{
    border: 1px solid yellow;
}
.app4{
    border: 1px solid pink;
}